
@font-face {
    font-family: roboto-font;
    src: url(./fonts/RobotoCondensed-Regular.ttf);
  }
body{
    max-height: 100vh;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    font-family: roboto-font, sans-serif;
    background-color: rgba(0, 0, 0, 0.959);
    color: white;
}

.wrap{
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    background-color: rgba(0, 0, 0, 0.959);
    color: white;
    
    
    
}

img{
    height:30px;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #007bff, 0 0 40px #007bff, 0 0 50px #007bff, 0 0 60px #007bff, 0 0 70px #007bff;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #107CEF, 0 0 40px #107CEF, 0 0 50px #107CEF, 0 0 60px #107CEF, 0 0 70px #107CEF, 0 0 80px #107CEF;
    }
  }

/* Sidebar------------------------------------------------------------- */
.sidebar{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1 ;
    grid-row-end:7;
    background-color: #0a417cbe;
    color: azure;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    justify-content:baseline;
    align-items: center;
    font-size: 50px;
    gap: 10px;
    padding: 10px;
    font-weight: 600;
    box-shadow: 5px -5px 20px 10px #000000; 
    
    
}

#logo{
    width: 80px;
    height: 80px;
    justify-content: end;
}
.logo{
    display: grid;
    font-size: 80px;
}

.logo,
.controler,
.options{
    display:grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    justify-self: start;
    width: 100%;
} 

.icons,
.side-buttons{
    display: grid;
    gap: 1rem;
    align-items: center;
}

.icons{
    display: grid;
    grid-template-rows: repeat(58px 3);
    justify-content: end;
}
.icons>img{
    height: 45px;
}

.options{
    
}

a{
    translate: ease-in-out 0.5s;
}
a:hover{
    font-size: 58px;
    color:rgb(251, 251, 253);
    animation: glow 1s ease-in-out infinite alternate;
}

/*MAIN======================================================================*/
/*TOP=======================================================================*/
.header{
    display: grid;
    grid-template-columns: 9fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.top{
    display: grid;
    background-color: #107CEF;
    height: 100%;
    justify-items: center;
    align-items: center;
}
.messages.top{
    justify-items: end;
}
.user-name.top{
    justify-items: start;
}


.search{
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
}
.search-icon{
    display: grid;
    justify-items: end;
    padding: 10px;
}
.searchbar{
    width: 80%;
    height: 30px;
    align-items: center;
    border-radius: 50px;
    background-color: rgba(184, 184, 184, 0.527);
    border: none;
    font-size: 20px;

}

.user-name{
    font-size: 30px;
    font-weight: 600;
}
.plate{
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 10px;
}

.face{
    display: grid;
    justify-content: end;
    
}

.face>img{
    width: 64;
    height: 64;
}

.welcome{
    display: grid;
    align-content: center;

}

.header>button{
    background-color: #000000be;
    border-radius: 50px;
    color: red;
    border: 1px solid red;
    font-size: 20px;
    height: 30px;
}


/*CONTAINER==================================================================*/
.container{
    background-color: rgba(45, 52, 54, 0.315);
    display: grid;
    grid-template-columns:  1fr 1fr 0.8fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    font-size: 20px;
    padding: 40px 25px;
    box-shadow: inset -15px 15px 28px -18px #FFFFFF;
}

.wrap-content{
    max-height: 90vh;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content{

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    gap: 20px;
}

.card{
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    border: 1px solid;
    border-radius: 15px;
    display: grid;
    grid-template-rows: auto 3fr 1fr;
    box-shadow: 
    inset 10px 0px 61px -30px #007bff,
    10px 0px 61px -20px #007bff
    ;
    
}

.card-controls{
    display: flex;
    justify-content: end;
    background-color: none;
    box-shadow: inset 10px 0px 61px -30px #107CEF,
    
    
}

.title{
    padding-left: 2rem;
    font-size: 30px;
    color: rgba(45, 52, 54);
    font-weight: 800;
    font-style: normal;
    overflow:visible;
    text-shadow:
        0px 0px 2px white,
        0px 0px 1px white,
        0px 0px 5px white,
        0px 0px 10px #007bff,
        0px 0px 20px #007bff,
        0px 0px 30px #007bff,
        0px 0px 40px #007bff;
    
}
.card-title{
    font-size: 25px;
    font-weight: 900;
    border-bottom: 2px solid rgb(230, 224, 224, 0.5);
    
    
}

.card-controls>button{
    opacity: 70%;
    background-color: #0a417cbe 0.7;
    border:none;
    border-radius: 50px;
    
}


.card-content>p{
    font-size: 16px;
    overflow: auto;

}
/*CONTAINER-SIDE===========================================================*/
.item-title{
    font-size: 15px;
    font-weight: 800;
}
.news{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.public,
.trending{
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: inset 10px 0px 61px -30px #107CEF,
    10px 0px 61px -20px #007bff;
}

.public{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px
}

.middle{
    border-top: grey 1px solid;
    border-bottom: grey 1px solid;
} 

.user{
    
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-shadow: 
    0 0 4px #fff, 
    0 0 8px #107CEF,
    0 0 16px #107CEF;
    
    
}


.user-handle>p{
    color: #fff;
    text-shadow: none;
    font-style: normal;

    
    
}
.item{
    padding: 10px;
}
p{
    font-size: 12px;
    font-style: italic;
    overflow: auto;
}